@tailwind preflight;

@tailwind components;

.float-header {
    overflow-y: auto;
    height: 100px;
}
.float-header th {
    position: sticky;
    top: 0;
}

/* Responsive colour scheme. */
.bg-rainbow {
    @apply bg-pink-darker;
}
@screen sm {
    .bg-rainbow {
        @apply bg-pink-dark;
    }
}
@screen md {
    .bg-rainbow {
        @apply bg-pink;
    }
}
@screen lg {
    .bg-rainbow {
        @apply bg-pink-light;
    }
}
@screen xl {
    .bg-rainbow {
        @apply bg-pink-lighter;
    }
}

.text-rainbow:hover {
    @apply text-pink-darker;
}
@screen sm {
    .text-rainbow:hover {
        @apply text-pink-dark;
    }
}
@screen md {
    .text-rainbow:hover {
        @apply text-pink;
    }
}
@screen lg {
    .text-rainbow:hover {
        @apply text-pink-light;
    }
}
@screen xl {
    .text-rainbow:hover {
        @apply text-pink-lighter;
    }
}

/* Table CSS */
.table-scrollable {
    overflow-y:scroll;
    height: 80%;
    display: block;
}

table {
    @apply w-full text-left border shadow bg-white;
}

th {
    @apply p-2 border border-pink-light;
}

td {
    @apply p-2 border-t border-grey-light text-xs;
}

tbody {
    @apply align-baseline;
}
tbody > tr:nth-child(even) {
    @apply bg-pink-light-5;
}
tbody > tr:nth-child(odd) {
    @apply bg-white;
}
tbody > tr:hover {
    @apply bg-pink-light-4;
}
tbody > tr.selected {
    @apply bg-pink-light-3;
}

/* Icon Styling for Font Awesome */
/*i.fas, i.fab, i.far {
    font-size: 12px;
} */

@tailwind utilities;