<!-- department/department.component.html -->  
<html>  
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Departments</title>
  </head>
  <body>
      <div class="flex items-center w-full p-16 bg-grey-lighter -mt-8">
        <table class="shadow bg-white border">
          <thead>
            <tr class="table-row font-semibold text-sm text-white bg-pink-light">
              <th>Name</th>
              <th>Description</th>
              <th>Item Count</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let department of departments" class="table-row">
                <td>
                  <i [ngClass]="uiService.getDepartmentIcon(department.Name)" class="fas pr-2"></i>
                  {{department.Name}}
                </td>
                <td>{{department.Description}}</td>
                <td>{{department.ItemList.length}}</td>
              </tr>
          </tbody>
        </table>
      </div>
  </body>
</html>