<!-- item/item.component.html -->
<html>  
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Items</title>
  </head>
  <body>
    <div class="flex flex-wrap my-6 px-2 bg-white">
      <div *ngFor="let d of departments" title="{{d.ItemList.length == 0 ? 'No results' : ''}}" (click)="onDepartmentClicked(d.Id)" [ngClass]="(d.ItemList.length == 0) ? 'bg-grey' : 'bg-pink-light hover:bg-white cursor-pointer'" class="group inline-flex flex-1 flex-col px-6 py-3 w-1/8 align-middle shadow-md select-none mx-2 font-sans">
        <i class="mb-2 text-pink-dark-2 text-2xl fas" [ngClass]="uiService.getDepartmentIcon(d.Name)"></i>
        <p [ngClass]="(d.ItemList.length == 0) ? '' : 'group-hover:text-pink-light'" class="font-semibold text-md text-white mb-1">{{d.Name}}</p>
        <p [ngClass]="(d.ItemList.length == 0) ? '' : 'group-hover:text-pink-light'" class="text-pink-dark-1 text-xs ">{{d.Description}}</p>
      </div>
    </div>
    <div *ngIf="departmentItems" class="flex h-screen w-full px-4">
      <div class="w-1/4 mr-4">
        <app-item-details [departments]="departments" (updateDepartmentItemList)='onDepartmentClicked($event)'></app-item-details>
      </div>
      <div class="w-3/4">
        <!-- TODO: Another table header for different options. -->
        <div class="flex w-full bg-white">
          <div class="pb-2 w-1/2">
            <button [disabled]="!enableListFunction" [ngClass]="enableListFunction ? 'hover:bg-pink-light' : 'opacity-50'" title="Save" class="uppercase bg-pink-light border-grey shadow text-white text-sm font-bold py-2 px-5 mr-2 focus:outline-none">
              <i class="far fa-edit"></i>
            </button>
            <button [disabled]="!enableListFunction" [ngClass]="enableListFunction ? 'hover:bg-pink-light' : 'opacity-50'" title="Delete" class="uppercase bg-pink-light border-grey shadow text-white text-sm font-bold py-2 px-5 mr-2 focus:outline-none" (click)="onDeleteClicked()">
              <i class="far fa-trash-alt"></i>
            </button>
            <button [disabled]="!enableListFunction" [ngClass]="enableListFunction ? 'hover:bg-pink-light' : 'opacity-50'" title="Clear" class="uppercase bg-pink-light border-grey shadow text-white text-sm font-bold py-2 px-5 mr-2 focus:outline-none" (click)="setItemsToDisplay()">
              <i class="far fa-minus-square"></i>
            </button>
          </div>
          <div class="flex flex-row-reverse pb-2 w-1/2">
            <input [(ngModel)]="searchText" class="py-2 px-3 bg-grey-lighter border border-grey-light focus:outline-none focus:bg-white text-grey-darkest text-sm" type="text" (input)="searchList()">
            <span class="bg-pink-light border-t border-b border-l border-pink-light text-white text-sm py-2 px-3">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </div>
        <table>
          <thead>
            <tr class="table-row font-semibold text-sm text-white bg-pink-light">
              <th class="text-center"><input class="bg-grey-lighter focus:bg-white text-grey-darkest" type="checkbox" [(ngModel)]="masterOptionState" (change)="masterOptionChanged()"></th>
              <th>Name</th>
              <th>Description</th>
              <th>Colour</th>
              <th>Weight</th>
              <th>Stocked?</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of displayItems" [ngClass]="currentItemStates[item.Id] ? 'selected' : ''">
              <td class="text-center"><input type="checkbox" name="currentItemStates" [checked]="currentItemStates[item.Id]" (change)="updateSelectedItem(item.Id)"></td>
              <td>{{item.Name}}</td>
              <td>{{item.Description}}</td>
              <td>{{item.Colour}}</td>
              <td>{{item.Weight}}</td>
              <td>{{item.IsStocked ? 'Yes' : 'No'}}</td>
            </tr>
            <tr *ngIf="currentItemsLength == 0">
              <td class="text-grey-darkest text-center text-xs font-semibold bg-grey-lighter border-grey-light border-b" colspan="50">
                No results!
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>