<!-- item-details/item-details.component.html -->  
<form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="bg-white shadow-md px-8 pt-6 pb-8 mb-4">
  <div class="mb-4">
    <label class="block uppercase text-pink-dark text-sm font-bold mb-2" for="Name">
      Name
    </label>
    <input class="shadow appearance-none border w-full py-2 px-3 text-xs text-grey-darker bg-grey-lighter focus:bg-white leading-tight focus:outline-none" formControlName="Name" type="text" placeholder="e.g. Apple">
  </div>
  <div class="mb-4">
    <label class="block uppercase text-pink-dark text-sm font-bold mb-2" for="Description">
        Description
    </label>
    <input class="shadow appearance-none border w-full py-2 px-3 text-xs text-grey-darker bg-grey-lighter focus:bg-white leading-tight focus:outline-none" formControlName="Description" type="text" placeholder="e.g. Sweet!">
  </div>
  <div class="mb-4">
    <label class="block uppercase text-pink-dark text-sm font-bold mb-2" for="Colour">
        Colour
    </label>
    <div class="relative">
      <select class="shadow block appearance-none border w-full py-2 px-3 bg-grey-lighter focus:bg-white text-xs text-grey-darker leading-tight focus:outline-none" formControlName="Colour">
        <option selected disabled>-- Choose Colour --</option>
        <option value="Red">Red</option>
        <option value="Orange">Orange</option>
        <option value="Green">Green</option>
        <option value="Blue">Blue</option>
        <option value="Yellow">Yellow</option>
        <option value="Purple">Purple</option>
        <option value="White">White</option>
        <option value="Brown">Brown</option>
      </select>
      <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <label class="block uppercase text-pink-dark text-sm font-bold mb-2" for="Weight">
      Weight
    </label>
    <input class="shadow appearance-none border w-full py-2 px-3 text-xs text-grey-darker bg-grey-lighter focus:bg-white leading-tight focus:outline-none" formControlName="Weight" type="number" placeholder="e.g. 0.1">
  </div>
  <div class="mb-6">
    <label class="block uppercase text-pink-dark text-sm font-bold mb-2" for="Department">
      Department
    </label>
    <div class="relative">
      <select class="shadow block appearance-none border w-full py-2 px-3 bg-grey-lighter focus:bg-white text-xs text-grey-darker leading-tight focus:outline-none" formControlName="DepartmentId">
        <option selected disabled>-- Choose Department --</option>
        <option *ngFor="let d of departments" value="{{d.Id}}">{{d.Name}}</option>
      </select>
      <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>
  </div>
  <div class="flex items-center">
    <button type="submit" [disabled]="!itemForm.valid" [ngClass]="itemForm.valid ? 'hover:bg-pink-dark' : 'opacity-50'" class="uppercase shadow bg-pink text-white text-sm font-bold py-2 px-4 focus:outline-none focus:shadow-outline mr-4">
      Add
    </button>
    <button type="button" [disabled]="!itemForm.dirty" [ngClass]="itemForm.dirty ? 'hover:bg-pink-dark' : 'opacity-50'" class="uppercase shadow bg-pink text-white text-sm font-bold py-2 px-4 focus:outline-none focus:shadow-outline" (click)="resetForm()">
      Clear
    </button>
  </div>
</form>